<!DOCTYPE html>
<html lang="pt-br">
 <head>
  <meta charset="utf-8">
  <title>Caléndario de Eventos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui/jquery-ui.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui/jquery-ui.structure.min.css') }}" />
  <link rel="stylesheet" href="{{ url_forstatic',filename='jquery-ui/jquery-ui.theme.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='fullcalendar/fullcalendar.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='datetimepicker-master/jquery.datetimepicker.css')}}" >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
  .event_selected {
    background-color: rgb(0, 89, 255);
  }
  </style>

  <script src="{{ url_for('static',filename='jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='moment/moment.min.js') }}"></script>
  <script src="{{ url_for('static',filename='jquery-ui/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static',filename='moment/moment.min.js') }}"></script>
  <script src="{{url_for('static',filename='fullcalendar/fullcalendar.js')}}"></script>
  <script src="{{url_for('static',filename='fullcalendar/locale/pt-br.js')}}"></script>
  <script src="{{url_for('static',filename='datetimepicker-master/build/jquery.datetimepicker.full.min.js')}}"></script>
  

  <script>
  
    $(document).ready(function() {
      $("#calendar").fullCalendar({
        events : '{{url_for('scheduler')}}',
        dayClick : function(){
            $('#start, #end').datetimepicker('setDate',date._d);
            $('.event_selected').removeClass('event_selected');
            $(this).addClass('event_selected');
        },
        eventClick : function(event){
          $('#id').val(event.id);
          $('#title').val(event.title);
          $('#start').val(event.start.toISOString());
          $('#end').val(event.end == null ? event.start.toISOString() : event.end.toISOString() );
          $('.event_selected').removeClass('event_selected');
          $(this).addClass('event_selected');
       }
     });
     
      $('#start, #end').datetimepicker({
        dateFormat: "yy-mm-dd",
        timeFormat:  "hh:mm:ss",
        onSelect : function(datetimeText, inst){
          if(this.id == 'start'){
            $('#start').datetimepicker("getDate").getTime() > $('#end').datetimepicker("getDate").getTime();
            $('#end').datetimepicker("setDate", datetimeText);
          }
        }
      });
  
      $('#start, #end').datetimepicker('setDate',new Date());
  
      $('#insertBtn').click(function(){
        $.ajax({
          url : '{{url_for('scheduler')}}',
          type : 'post',
          data :$('#schedulerForm').serialize(),
          success : function(res){
            let data = JSON.parse(res);
            if(data.rows > 0){
              $("#calendar").fullCalendar( 'refetchEvents' )
              alert('Evento Inserido')
            }
            else{
              alert('Falha ao inserir');
            }
          }
        });
      });
  
      $('#updateBtn').click(function(){
        $.ajax({
          url : '{{url_for('scheduler')}}',
          type : 'put',
          data :$('#schedulerForm').serialize(),
          success : function(res){
            let data = JSON.parse(res);
            if(data.rows > 0){
              $("#calendar").fullCalendar( 'refetchEvents' )
              alert('Evento Editado')
            }
            else{
              alert('Falha ao editar');
            }
          }
        });
      });
  
      $('#deleteBtn').click(function(){
        if(confirm($('#title').val() + " Tem certeza de que deseja excluir o evento? ")){
          $.ajax({
            url : '{{url_for('scheduler')}}',
            type : 'delete',
            data :{id:$('#id').val()},
            success : function(res){
              let data = JSON.parse(res);
              if(data.rows > 0){
                $("#calendar").fullCalendar( 'refetchEvents' )
                alert('Evento Excluido')
              }
              else{
                alert('Falha ao excluir');
              }
            }
          });
        }
      });
    });
    
    </script>
 </head>
 <body class="loggedin">
 <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        </a>
  <a class="py-2 d-none d-md-inline-block" href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a>
  
  <a class="py-2 d-none d-md-inline-block" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Sair</a>
  
  
   </div>
    </nav>
    
  
  <!-- {% block content %}{% endblock %}-->
  <div class="container">
    <form name="schedulerForm" id="schedulerForm" style="margin: 30px 10px;">
      
        <div class="row">
          <div class="col"style="margin: 10px ">
          Descrição: <input type="text" class="form-control" name="title" id="title">
          </div>
          <div class="col" style="margin: 10px ">
          Inicio <input type="text" class="form-control" name="start" id="start" readonly="readonly">
          </div>
          <div class="col" style="margin: 10px ">
          Fim <input type="text" class="form-control" name="end" id="end" readonly="readonly" >
          </div>
          <input type="hidden" name="id" id="id">
          
        
                  
          <button style="margin: 30px 15px;"type="button" class="btn btn-info" id="insertBtn">Adicionar Evento</button>
          <button style="margin: 30px 15px;"type="button" class="btn btn-info" id="updateBtn">Editar Evento</button>
          <button style="margin: 30px 15px;"type="button" class="btn btn-info" id="deleteBtn">Remover Evento</button>
          
        </div>
      
    </form>
    
      
    
  
      <!--
      <form name="schedulerForm" id="schedulerForm">
        Inicio : <input type="text" name="start" id="start" readonly="readonly">
        Fim : <input type="text" name="end" id="end" readonly="readonly">
        Descrição : <input type="text" name="title" id="title">
        <input type="hidden" name="id" id="id">
        <label for="allDay">Dia Todo</label>
        <input type="checkbox" name="allDay" id="allDay" checked="checked" value="Y">
        <button type="button" id="insertBtn">Adicionar Evento</button>
        <button type="button" id="updateBtn">Editar Evento</button>
        <button type="button" id="deleteBtn">Remover Evento</button>
      </form>-->
      <div theme id="calendar"></div>
    </div>
  </div>
 </body>
</html>