<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Login</title>
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 </head>
 <body>
  <div class="container"> 
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <span class="navbar-text" style="margin: 10px 490px">
        <h1>Login</h1>
      </span>
    </nav>
    
  
  <div class="main-login main-center">
   <p>Por favor insira seu E-mail e senha</p>
   
   <form class="form-group" action="{{ url_for('login') }}" method="post">
    <label>Email</label>
    <input type="text" class="form-control" name="email" placeholder="email" id="email" required>
    <label>Senha</label>
    <input style="margin: 10px 0px"type="password" class="form-control" name="senha" placeholder="senha" id="senha" required>
    
    <input type="submit" value="Login" class="form-control btn btn-primary " name="login">
   </form>
   <div id="msg">{{ msg }}</div>
   <div class="container4">
       <p>  Não possui uma conta? <a href="{{ url_for('register') }}">Registrar</a></p>
    </div>
    
   
  </div>
 </div>
 </body>
</html>